body {
    background-color: #bcbcbc;
    padding: 20px;
    margin: 0;
}

h1, h2, p, ul, li {
    font-family: Helvetica, Arial, sans-serif;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 20 0 20 0;
}

ul.header {
    background-color: #111;
    padding: 0;
}

ul.header li:hover {
    background-color: rgba(0, 128, 255, 0.4);
}

ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    background-color: #FFF;
    padding: 20px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

.active {
    background-color: #0099FF;
}

/* Candidates */

#menu tr {
    cursor: pointer;
}

#menu tr:hover {
    background-color: rgba(0, 128, 255, 0.2);
}

#menu .list1, .list2, .list3, .list4, .list5 {
    cursor: pointer;
    display: none;
}


#CandidateSearchValidation {
	display: none;
	background-color: #ff9999;
	padding-left: 300px;
	font-style: italic;
}

#temporary-representative {
    cursor: pointer;
}



/* Candidates Description */
#description span {
    font-size: 20px;
}

#cdtitle {
    color: #008000;
}

/* Tables */
#Table table {
    counter-reset: line-number;
}

#Table td:first-child:before {
    content: counter(line-number) ".";
    counter-increment: line-number;
    padding-right: 0.3em;
    padding-left: 15px;
}

